body {
  background-color: #3d3d3d;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.Home-div {
  overflow: hidden;
}
.video {
  max-height: 100vh;
  max-width: 100vw;
}
.wrapper {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.carde {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 400px;
  background: rgba(255, 255, 255, 0.384);
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.carde img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform-origin: right center;
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(10% at 100% 100%);
}
.carde:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.carde:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.carde:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.carde h1,
.carde h3 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.carde p {
  padding-top: 20px;
  line-height: 24px;
  height: 70%;
}
.carde button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.carde button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}
